
/* nav title*/
.starterTitle{
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-family: 'Lexend';
    top: 20px;
}

/* Group - off */

.groupOff{
    position: absolute;
    width: 163.11px;
    height: 190.66px;
    left: 200.1px;
    top: 162px;
}

/* Unstar frame */
.unstarFrame{
    position: absolute;
    width: 143.11px;
    height: 170.66px;
    left: 200.1px;
    top: 162px;
    padding: 10px;
    background: #E4E3E3;
    border-radius: 10px;
}

/* Star frame */
.starFrame{
    position: absolute;
    width: 143.31px;
    height: 170.66px;
    left: 28px;
    top: 162px;
    padding: 10px;
    background: linear-gradient(180deg, #33394D 0%, #484B65 100%);
    border-radius: 10px;
}
/* Starframe shadow*/

.starFrameShadow{
    position: absolute;
    width: 147.47px;
    height: 132.13px;
    left: 50.17px;
    top: 210.77px;

    background: #1B1B1B;
    opacity: 0.5;
    filter: blur(23.9434px);
    border-radius: 17.7358px;
}

/* groupOffType */
.groupOffType{
    position: absolute;
    width: 95.77px;
    height: 19px;
    left: 24.77px;
    top: 73.6px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 15.0755px;
    line-height: 19px;
    /* identical to box height, or 124% */
 
    color: #000000;
}


/* Off - TEXT */
.offText{
    position: absolute;
    width: 26.69px;
    height: 19px;
    left: 24.77px;
    bottom: 20.02px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 15.0755px;
    line-height: 19px;
    /* identical to box height, or 124% */

    color: #7D7D7D;
}

/* On - TEXT*/
.unstarOnText{
    position: absolute;
    width: 23.72px;
    height: 19px;
    left: 24.77px;
    bottom: 20.02px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 15.0755px;
    line-height: 19px;
    /* identical to box height, or 124% */

    color: #000000;
}
/* starOnText */
.starOnText{
    position: absolute;
    left: 24.77px;
    bottom: 20.02px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 15.0755px;
    line-height: 19px;
    /* identical to box height, or 124% */
    
    color: #FFFFFF;
}

/* logo frame */
.logoFrame{
    position: absolute;
    width: 44.484px;
    height: 39.906px;
    top: 20px;
    left: 24.71px;
    flex-shrink: 0;
    /* fill: #DADADA; */
    border-radius: 30px;
    background-color: #DADADA;
}

/* Toggle */
.toggleOn{
    position: absolute;
    width: 18.75px;
    height: 18.75px;
    right: 10%;
    top: 9%;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.toggleOff{
    position: absolute;
    width: 18.75px;
    height: 18.75px;
    left: 10%;
    top: 9%;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 15px;
}
.starToggleOn{
    position: absolute;
    width: 18.75px;
    height: 18.75px;
    right: 10%;
    top: 9%;
    background-color: #FF8A00;
    border-radius: 15px;
}

.starToggleOff{
    position: absolute;
    width: 18.75px;
    height: 18.75px;
    left: 10%;
    top: 9%;
    background-color: #FF8A00;
    border-radius: 15px;
}

/* Toggle off - background */
.toggleOffBg{
    position: absolute;
    width: 47.45px;
    height: 22.75px;
    right: 22.77px;
    bottom: 16.02px;
    background: #D6D6D6;
    border-radius: 17.7358px;
}
/* Startoggle off - background*/
.starToggleOffBg{
    position: absolute;
    width: 47.51px;
    height: 22.75px;
    right: 22.77px;
    bottom: 16.02px;

    background: linear-gradient(180deg, #33394D 0%, #484B65 100%);
    border: 1.77358px solid #FF8A00;
    border-radius: 10px;
}
/* Toggle on - background */
.toggleOnBg{
    position: absolute;
    width: 47.45px;
    height: 22.75px;
    right: 22.77px;
    bottom: 16.02px;

    background: #000000;
    border-radius: 17.7358px;
}
.starToggleOnBg{
    position: absolute;
    width: 47.45px;
    height: 22.75px;
    right: 22.77px;
    bottom: 16.02px;

    background: #000000;
    border: 1.77358px solid #FF8A00;
    border-radius: 10px;
}

/*  Star logo frame*/
.starLogoFrame{
    position: absolute;
    width: 44.54px;
    height: 39.91px;
    top: 20px;
    left: 24.71px;

    border-radius: 30px;
    background: #2E2E2E;
}

/* Star logo */
.starLogo{
    position: absolute;
    width: 71.26px;
    height: 19px;
    left: 52.74px;
    top: 235.6px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 15.0755px;
    line-height: 19px;
    /* identical to box height, or 124% */

    color: #FFFFFF;
}

/* Unstar logo */
.unstarLogo{
    position: absolute;
    width: 95.77px;
    height: 19px;
    left: 224.87px;
    top: 439.57px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 15.0755px;
    line-height: 19px;
    /* identical to box height, or 124% */

    color: #000000;
}

/* Start btn */
.startBtn{
    position: absolute;
    width: 337px;
    height: 50px;
    left: 28px;
    top: 756px;

    color: white;
    background: linear-gradient(180deg, #33394D 0%, #484B65 100%);
    border-radius: 10px;

    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}
.addBtn{
    position: absolute;
    width: 100%;
    height: 50px;
    
    top: 756px;
    color: white;
    background: linear-gradient(180deg, #33394D 0%, #484B65 100%);
    border-radius: 10px;

    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}
/* Star */
.starBtn{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 15px;
    top: 10px;
    background: url(../../../public/star.png);
    background-size: contain; /* 이미지 크기를 비율을 유지하면서 조정합니다. */
  background-repeat: no-repeat; /* 이미지 반복을 비활성화합니다. */
  background-position: center; /* 이미지를 가운데 정렬합니다. */
}

.unStarBtn{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 15px;
    top: 10px;
    background: url(../../../public/unstar.png);
    background-size: contain; /* 이미지 크기를 비율을 유지하면서 조정합니다. */
  background-repeat: no-repeat; /* 이미지 반복을 비활성화합니다. */
  background-position: center; /* 이미지를 가운데 정렬합니다. */
}


/* Title */
.unstarTitle{
    position: absolute;
    left: 24.77px;
    top: 73.6px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 15.0755px;
    line-height: 19px;
    /* identical to box height, or 124% */

    color: #000000;
}

.starTitle{
    position: absolute;
    left: 24.77px;
    top: 73.6px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 15.0755px;
    line-height: 19px;
    /* identical to box height, or 124% */

    color: #FFFFFF;
}
.starterContents{

}
/* Control icon (뒤로가기, 홈 버튼, 추가 버튼) */
.controlBtnIcon{
    position: absolute;
    width: 23px;
    height: 23px;
    left: 28px;
    top: 26px;
}

/* Control box */
.controlBtnBox{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 336px;
    top: 706px;

    background: rgba(28, 29, 34, 0.08);
}

/* menuOn */
.starterContentOn{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 15.0755px;
    line-height: 19px;
    /* identical to box height, or 124% */
    text-align: center;
    color: #000000;
}
/* menuOff */
.starterContentOff{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 15.0755px;
    line-height: 19px;
    /* identical to box height, or 124% */
    text-align: center;

    color: #7D7D7D;
}

/* setting clothes */
.set{
    position: absolute;
    width: 95.77px;
    height: 19px;
    left: 28px;
    top: 115px;
}

/* setting schedule */
.schedule{
    position: absolute;
    width: 95.77px;
    height: 19px;
    left: 148px;
    top: 115px;
}


/* scheduler */

/* scheduler container */
.scheduleContainer{
    position: relative;
    width: 90%;
    left: 5%;
    top: 162px;
    padding-bottom: 65px;
    height: 100%;
    border: 2px solid rgba(28, 29, 34, 0.08);
    border-radius: 10px;
}

.scheduleCount{
    position: absolute;
    left: 19px;
    top: 25px;

    color: rgba(28, 29, 34, 0.50);
    font-family: Lexend;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 14px */
}

.timeSort{
    position: absolute;
    right: 19px;
    top: 25px;

    color: rgba(28, 29, 34, 0.50);
    font-family: Lexend;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 14px */
}

.scheduleBox{
    position: relative;
    width: 90%;
    left: 5%;
    top: 70px;
    margin-bottom: 20px;
    height: 140px;
    border: 2px solid rgba(28, 29, 34, 0.08);
    border-radius: 10px;
}

.proceedingTitle{
    position: absolute;
    top: 10px;
    left : 10px;
    color: #FFA048;
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 16px */
}

.proceedingPredict{
    position: absolute;
    top: 30px;
    left: 10px;
    color: rgba(28, 29, 34, 0.50);
    font-family: Lexend;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 12px */
}

.proceedingStartTime{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: rgba(28, 29, 34, 0.50);
    font-family: Lexend;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 12px */
}

.proceedingScore{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: rgba(28, 29, 34, 0.50);
    font-family: Lexend;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 12px */
}

.loadingGif{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 15px;
    right: 30px;
    background: url(../../../public/loading_resize.gif);
    background-size: contain;
}

.logTitle{
    position: absolute;
    top: 10px;
    left : 10px;
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 16px */
}

.logScore{
    position: absolute;
    top: 30px;
    left: 10px;
    color: rgba(28, 29, 34, 0.50);
    font-family: Lexend;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 12px */
}

.logTime{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: rgba(28, 29, 34, 0.50);
    font-family: Lexend;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 12px */
}
/* Schedule Toggle */
.scheduleToggleOn{
    position: absolute;
    width: 18.75px;
    height: 18.75px;
    right: 10%;
    top: 10%;
    display: flex;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.scheduleToggleOff{
    position: absolute;
    width: 18.75px;
    height: 18.75px;
    left: 10%;
    top: 10%;
    display: flex;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.scheduleBoxTitle{
    position: absolute;
    top: 18px;
    left : 17px;
    color: #555555;
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 16px */
}
/* Toggle off - background */
.scheduleToggleOnBg{
    position: absolute;
    width: 60px;
    height: 25px;
    right: 17px;
    top: 16.02px;
    background: #000000;
    border-radius: 17.7358px;
}

/* Toggle off - background */
.scheduleToggleOffBg{
    position: absolute;
    width: 60px;
    height: 25px;
    right: 17px;
    top: 16.02px;
    background: #D6D6D6;
    border-radius: 17.7358px;
}

.scheduleBoxLine{
    position: absolute;
    border: 1px solid #EEEEEE;
    width: 100%;
    top: 50px;
}

.scheduleBoxTime{
    position: absolute;
    color: #888DA7;
    left: 54px;
    bottom: 40px;
}
.scheduleBoxTimeImage{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 15px;
    bottom: 43px;
    background: url(../../../public/timer.png);
    background-size: contain;
}

.scheduleBoxDay{
    position: absolute;
    color: #888DA7;
    left: 54px;
    bottom: 12px;
}

.scheduleBoxDayImage{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 15px;
    bottom: 15px;
    background: url(../../../public/date.png);
    background-size: contain;
}
.scheduleBoxDetail{
    position: absolute;
    width: 35px;
    height: 35px;
    right: 15px;
    bottom: 25px;
    background: url(../../../public/scheduleDetail.png);
    background-size: contain;
}
.detailInfo{
    width:300px;
    height:150px;
}

.detailInfoDate{
    position: absolute;
    left: 30px;
    top: 100px;
}

.detailInfoTime{
    position: absolute;
    left: 30px;
    top: 130px;
}

.detailInfoScore{
    position: absolute;
    left:30px;
    bottom: 100px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    position: absolute;
    background: #fff;
    width: 80%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .modal button {
    background: #888DA7;
    color: #333333;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
  }