
.controllerContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
}

.turtlebotName {
    text-align: center;
    width: 100%;
    margin-top: 33px;
    font-style: normal;
    font-weight: 700px;
    font-size: 25px;
    line-height: 33px;
}

.turtlebotImage {
    position: relative;
    width: 373px;
    height: 373px;
    margin : 10px;
    background-size: contain;
    background-position: center;
    background: url(../../../public/turtlebotImage.png);
}
.turtlebotUnconnectedImage {
    position: relative;
    width: 350px;
    height: 250px;
    /* background-size: cover; */
    margin-left: 10px;
    margin-top : 40px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background: url(../../../public/unconnected.png);
}
.unconnectedMessage{
    margin-top: 20px;
    margin-bottom: 120px;
    text-align: center;
    font-size: 14px;
    color: #838589;
    font-family: inherit;
}
/* Climate */
.menu{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 180px;

    position: relative;
    width: 355px;
    height: 86px;
    left: 17px;

    border-bottom: 1px solid #EDEDED;

}
/* Frame 3695 */
.frame{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    margin: 0 auto;
    width: 145px;
    height: 46px;
}
/* Inside auto layout */
.frameBlank{
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Frame 3694 */

.subFrame{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 108px;
    height: 46px;
}

/* Inside auto layout */
.subFrameBlank{
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* 터틀봇 제어 */
.menuTitle{
    width: 120px;
    height: 24px;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 120% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.38px;

    color: rgba(0, 0, 0, 0.6);
}
/* Inside auto layout */
.titleBlank{
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* 작동중 */
.menuSubtitle{
    width: 140px;
    height: 22px;

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.408px;

    color: rgba(0, 0, 0, 0.3);
}

/* Inside auto layout */
.subTitleBlank{
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Right Arrow */
.rightArrowFrame{
    margin: 0 auto;
    width: 44px;
    height: 44px;
}
/* 􀆊 */
.rightArrow{
    position: relative;
    width: 16px;
    height: 24px;
    left: 14px;
    top: 10px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.38px;

    color: rgba(0, 0, 0, 0.6);
}


/* Inside auto layout */
.climateBlank{
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Rectangle 1248 */
.menu-border{
    padding: 20px;
    box-sizing: border-box;

    position: relative;
    width: 353px;
    height: 446px;

    background: #FFFFFF;
    border-radius: 25px;
}


/* ----------------- */
.main-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.justalign-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.addturtle-image{
    width: 50%;
    height: 100%;
    background-size: cover;
    margin-left: 25%;
}

.addturtle-title{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 30px;
    margin-bottom: 5%;
}

.addturtle-submit{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.addturtle-buttonarea{
    width: 325px;
    height: 30%;
    display: flex;
    justify-content: space-between;
}

.addturtle-button{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ededed;
    border-radius: 10px;
    background-color: #fafafa;
    color: #838589;
    cursor: pointer;
}

.areah-60 {
    width: 100%;
    height: 60%;
}

.areah-55 {
    width: 100%;
    height: 55%;
}

.areah-50 {
    width: 100%;
    height: 50%;
}

.areah-45 {
    width: 100%;
    height: 45%;
}

.areah-40 {
    width: 100%;
    height: 40%;
}

.areah-30 {
    width: 100%;
    height: 30%;
}

.temp {
    border: 1px solid red;
}

.nonturtle-image{
    width: 50%;
    height: 100%;
    background-image: url(../../../public/unconnected.png);
    background-size: contain;
    background-repeat: no-repeat; /* 이미지 반복 표시 비활성화 */
    background-position: center center; /* 이미지를 가운데로 정렬 */
    margin-left: 25%;
}

.nonturtle-button{
    width: 100%;
    height: 35%;
    cursor: pointer;
}

.nonturtle-index{
    width: 60%;
    height: 50%;
    font-size: 23px;
    color: #838589;
}

.nonturtle-indexb{
    width: 20%;
    height: 50%;
    font-size: 40px;
    color: #838589;
}

.nonturtle-underline{
    width: 90%;
    height: 1%;
    border-bottom: 2px solid #ededed;
    margin-left: 5%;
}

.turtle-button{
    width: 100%;
    height: 24%;
    cursor: pointer;
}
.turtle-index{
    width: 60%;
    height: 50%;
    font-size: 20px;
    color: #000000;
    flex-direction: column;
    font-weight: bold;
}
.turtle-indexb{
    width: 20%;
    height: 50%;
    font-size: 40px;
    color: #838589;
}

.turtle-title{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 30px;
    margin-bottom: 5%;
}
.turtle-buttonc{
    font-size: 15px;
    font-weight: normal;
    color: #838589;
}