/* Intro 화면 */

position: relative;
width: 393px;
height: 852px;

background: #FFFFFF;


/* Button Full */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 153px;
gap: 10px;

position: absolute;
width: 325px;
height: 50px;
left: 34px;
top: 652px;

/* Primary/ Blue Ocean */
background: #3669C9;
border-radius: 10px;


/* Hi, Devina Idzni */

width: 300px;
height: 20px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
text-align: center;

/* Primary/ Pure White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

position: absolute;
width: 0px;
height: 24px;
left: 154px;
top: 714px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 계정이 없으십니까? 회원가입 */

position: absolute;
width: 173px;
height: 20px;
left: 110px;
top: 713px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
text-align: center;

/* Secondary/ Dark Grey */
color: #838589;



/* Frame 4 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 20px;
gap: 10px;

position: absolute;
left: 8.65%;
right: 8.65%;
top: 52.82%;
bottom: 41.31%;

/* Secondary/ Off Grey */
background: #FAFAFA;
border: 1px solid #EDEDED;
border-radius: 10px;


/* GuySimmmons@gmail.com */

width: 283px;
height: 18px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */
display: flex;
align-items: center;

/* Primary/ Navy Black */
color: #0C1A30;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 5 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 20px;
gap: 10px;

position: absolute;
left: 8.65%;
right: 8.65%;
top: 61.15%;
bottom: 32.98%;

/* Secondary/ Off Grey */
background: #FAFAFA;
border: 1px solid #EDEDED;
border-radius: 10px;


/* GuySimmmons@gmail.com */

width: 283px;
height: 18px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */
display: flex;
align-items: center;

/* Primary/ Navy Black */
color: #0C1A30;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group 548 */

position: absolute;
width: 325px;
height: 234px;
left: 34px;
top: 60px;



/* Vector 11041 */

position: absolute;
width: 55.55px;
height: 141.74px;
left: 243.59px;
top: 64px;

background: #F5E7CD;


/* Vector 11040 */

position: absolute;
width: 74.93px;
height: 99.64px;
left: 182.59px;
top: 88px;

background: #71AC81;


/* More */

position: absolute;
width: 325px;
height: 33px;
left: 34px;
top: 261px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 33px;
/* identical to box height */
text-align: center;

/* Primary/ Navy Black */
color: #0C1A30;



/* Group 543 */

position: absolute;
width: 167.51px;
height: 150.03px;
left: 180.59px;
top: 64px;



/* Vector 10982 */

position: absolute;
width: 46.77px;
height: 41.82px;
left: 251.82px;
top: 65.76px;

border: 3px solid #000000;


/* Vector 10983 */

position: absolute;
width: 76.66px;
height: 96.73px;
left: 180.59px;
top: 88.45px;

border: 3px solid #000000;


/* Vector 10984 */

position: absolute;
width: 38.42px;
height: 42.69px;
left: 248.54px;
top: 121.4px;

border: 3px solid #000000;


/* Vector 10985 */

position: absolute;
width: 2.13px;
height: 0px;
left: 279.46px;
top: 112.9px;

border: 3px solid #000000;


/* Vector 10986 */

position: absolute;
width: 85.04px;
height: 133.61px;
left: 243.32px;
top: 64px;

border: 3px solid #000000;


/* Vector 10987 */

position: absolute;
width: 36.76px;
height: 48.53px;
left: 311.35px;
top: 165.5px;

border: 3px solid #000000;


/* Vector 10988 */

position: absolute;
width: 23.62px;
height: 37.46px;
left: 261.16px;
top: 170.3px;

border: 3px solid #000000;


/* Vector 10989 */

position: absolute;
width: 10.63px;
height: 23.39px;
left: 282.65px;
top: 172.42px;

border: 3px solid #000000;


/* Vector 10990 */

position: absolute;
width: 4.25px;
height: 28.7px;
left: 286.9px;
top: 112.9px;

border: 3px solid #000000;


/* Vector 10991 */

position: absolute;
width: 11.69px;
height: 2.13px;
left: 274.14px;
top: 79.94px;

border: 3px solid #000000;


/* Vector 10992 */

position: absolute;
width: 0px;
height: 10.63px;
left: 278.39px;
top: 78.88px;

border: 3px solid #000000;


/* Vector 10993 */

position: absolute;
width: 2.13px;
height: 8.5px;
left: 282.65px;
top: 83.13px;

border: 3px solid #000000;


/* Vector 10994 */

position: absolute;
width: 15.33px;
height: 30.28px;
left: 285.07px;
top: 116.99px;

border: 3px solid #000000;


/* Vector 10995 */

position: absolute;
width: 22.9px;
height: 13.82px;
left: 215.98px;
top: 97.48px;

border: 3px solid #000000;


/* Vector 10996 */

position: absolute;
width: 42.41px;
height: 26.68px;
left: 198.82px;
top: 106.06px;

border: 3px solid #000000;


/* Vector 10997 */

position: absolute;
width: 47.65px;
height: 27.16px;
left: 191.2px;
top: 133.69px;

border: 3px solid #000000;


/* Vector 10998 */

position: absolute;
width: 27.16px;
height: 11.44px;
left: 191.2px;
top: 157.04px;

border: 3px solid #000000;


/* Vector 10999 */

position: absolute;
width: 33.83px;
height: 27.64px;
left: 198.82px;
top: 99.86px;

border: 3px solid #000000;


/* Vector 11000 */

position: absolute;
width: 38.6px;
height: 40.5px;
left: 194.06px;
top: 125.12px;

border: 3px solid #000000;


/* Vector 11001 */

position: absolute;
width: 17.63px;
height: 25.73px;
left: 219.79px;
top: 155.61px;

border: 3px solid #000000;


/* Group 544 */

position: absolute;
width: 23.74px;
height: 37.02px;
left: 226.59px;
top: 60px;



/* Vector 11042 */

position: absolute;
width: 23.74px;
height: 37.02px;
left: 226.59px;
top: 60px;

background: #EAEAEA;
border: 3px solid #000000;


/* Group 545 */

position: absolute;
width: 40.31px;
height: 36.3px;
left: 125.43px;
top: 168px;

transform: rotate(12.46deg);


/* Vector 11043 */

position: absolute;
width: 37.75px;
height: 36.3px;
left: 125.43px;
top: 168px;

background: #F7E650;
border: 3px solid #000000;
transform: rotate(12.46deg);


/* Vector 11044 */

position: absolute;
width: 8.27px;
height: 8.2px;
left: 155.9px;
top: 178.59px;

background: #F7E650;
border: 3px solid #000000;
transform: rotate(12.46deg);


/* Vector 11045 */

position: absolute;
width: 1.35px;
height: 1.57px;
left: 149.31px;
top: 178.34px;

background: #F7E650;
border: 3px solid #000000;
transform: rotate(12.46deg);


/* Group 547 */

position: absolute;
width: 61.61px;
height: 40.18px;
left: 74.67px;
top: 135px;

transform: rotate(12.46deg);


/* Vector 11043 */

position: absolute;
width: 31.23px;
height: 30.04px;
left: 100.07px;
top: 151px;

background: #F6E650;
border: 3px solid #000000;
transform: rotate(12.46deg);


/* Vector 11044 */

position: absolute;
width: 6.84px;
height: 6.78px;
left: 125.29px;
top: 159.76px;

border: 3px solid #000000;
transform: rotate(12.46deg);


/* Vector 11045 */

position: absolute;
width: 1.12px;
height: 1.3px;
left: 119.84px;
top: 159.56px;

border: 3px solid #000000;
transform: rotate(12.46deg);


/* Group 545 */

position: absolute;
width: 31.28px;
height: 28.18px;
left: 74.67px;
top: 135px;

transform: rotate(12.46deg);


/* Vector 11043 */

position: absolute;
width: 29.3px;
height: 28.18px;
left: 74.67px;
top: 135px;

background: #D9D9D9;
border: 3px solid #000000;
transform: rotate(12.46deg);


/* Vector 11044 */

position: absolute;
width: 6.42px;
height: 6.36px;
left: 98.32px;
top: 143.22px;

border: 3px solid #000000;
transform: rotate(12.46deg);


/* Vector 11045 */

position: absolute;
width: 1.05px;
height: 1.22px;
left: 93.21px;
top: 143.03px;

border: 3px solid #000000;
transform: rotate(12.46deg);


/* Group 546 */

position: absolute;
width: 40.31px;
height: 36.3px;
left: 162.59px;
top: 180px;



/* Vector 11043 */

position: absolute;
width: 37.75px;
height: 36.3px;
left: 162.59px;
top: 180px;

background: #FFEC40;
border: 3px solid #000000;


/* Vector 11044 */

position: absolute;
width: 8.27px;
height: 8.2px;
left: 194.63px;
top: 183.76px;

background: #FFEC40;
border: 3px solid #000000;


/* Vector 11045 */

position: absolute;
width: 1.35px;
height: 1.57px;
left: 188.15px;
top: 184.94px;

background: #FFEC40;
border: 3px solid #000000;


/* Vector 11050 */

position: absolute;
width: 16.14px;
height: 12.84px;
left: 169.05px;
top: 197.64px;

border: 3px solid #000000;


/* Vector 11051 */

position: absolute;
width: 7.66px;
height: 8.32px;
left: 136.9px;
top: 192.97px;

border: 3px solid #000000;


/* Vector 11055 */

position: absolute;
width: 10.19px;
height: 6.86px;
left: 105.56px;
top: 169.83px;

border: 3px solid #000000;


/* Vector 11056 */

position: absolute;
width: 8.89px;
height: 6.33px;
left: 79.41px;
top: 155.7px;

border: 3px solid #000000;
