/* 터틀봇 제어 - 바로시작 */
.controlContainer{
    position: relative;
    width: 393px;
    height: 852px;

    background: #FFFFFF;
}

/* Group - off */

.groupOff{
    position: absolute;
    width: 163.11px;
    height: 190.66px;
    left: 200.1px;
    top: 162px;
}

/* groupOffFrame */
.groupOffFrame{
    position: absolute;
    width: 163.11px;
    height: 190.66px;
    left: 200.1px;
    top: 162px;

    background: #E4E3E3;
    border-radius: 17.7358px;
}

/* Star Frame */
.starFrame{
    position: absolute;
    width: 163.31px;
    height: 172.04px;
    left: 28px;
    top: 162px;

    background: linear-gradient(180deg, #33394D 0%, #484B65 100%);
    border-radius: 10px;
}

/* groupOffType */
.groupOffType{
    position: absolute;
    width: 95.77px;
    height: 19px;
    left: 224.87px;
    top: 235.6px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 15.0755px;
    line-height: 19px;
    /* identical to box height, or 124% */
 
    color: #000000;
}


/* Off - TEXT */
.groupOffText{
    position: absolute;
    width: 26.69px;
    height: 19px;
    left: 224.81px;
    top: 313.64px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 15.0755px;
    line-height: 19px;
    /* identical to box height, or 124% */

    color: #7D7D7D;
}

/* On - TEXT*/
.unstarText{
    position: absolute;
    width: 23.72px;
    height: 19px;
    left: 52.71px;
    top: 498.98px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 15.0755px;
    line-height: 19px;
    /* identical to box height, or 124% */

    color: #000000;
}
/* Shirts */
.starText{
    position: absolute;
    width: 71.26px;
    height: 19px;
    left: 52.74px;
    top: 235.6px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 15.0755px;
    line-height: 19px;
    /* identical to box height, or 124% */

    color: #FFFFFF;
}
/* Logo Background*/
.logoBackground{
    position: absolute;
    width: 44.48px;
    height: 39.91px;
    left: 224.81px;
    top: 179.74px;

    background: #DADADA;
}

/* Toggle */
.toggle{
    position: absolute;
    width: 47.45px;
    height: 22.75px;
    left: 295.99px;
    top: 311.87px;
}


/* Toggle off - background */
.toggleOffBg{
    position: absolute;
    width: 47.45px;
    height: 22.75px;
    left: 295.99px;
    top: 311.87px;

    background: #D6D6D6;
    border-radius: 17.7358px;
}
/* Startoggle off - background*/
.starToggleOffBg{
    position: absolute;
    width: 47.51px;
    height: 22.75px;
    left: 124.01px;
    top: 293.25px;

    background: linear-gradient(180deg, #33394D 0%, #484B65 100%);
    
}
/* Toggle on - background */
.toggleOnBg{
    position: absolute;
    width: 47.45px;
    height: 22.75px;
    left: 123.89px;
    top: 497.21px;

    background: #000000;
    border-radius: 17.7358px;
}
.starToggleOnBg{
    position: absolute;
    width: 47.45px;
    height: 22.75px;
    left: 123.89px;
    top: 497.21px;

    background: #000000;
    border: 1.77358px solid #FF8A00;
    border-radius: 10px;
}
/* Toggle off */
.toggleOff{
    position: absolute;
    width: 19.77px;
    height: 17.74px;
    left: 299.94px;
    top: 314.53px;

    background: #FFFFFF;
    border: 1.77358px solid #FF8A00;
    border-radius: 10px;
}

/*  Star logo frame*/
.starLogoFrame{
    position: absolute;
    width: 44.54px;
    height: 39.91px;
    left: 52.74px;
    top: 179.74px;

    background: #2E2E2E;
}

/* Star logo */
.starLogo{
    position: absolute;
    width: 71.26px;
    height: 19px;
    left: 52.74px;
    top: 235.6px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 15.0755px;
    line-height: 19px;
    /* identical to box height, or 124% */

    color: #FFFFFF;
}

/* Unstar logo */
.unstarLogo{
    position: absolute;
    width: 95.77px;
    height: 19px;
    left: 224.87px;
    top: 439.57px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 15.0755px;
    line-height: 19px;
    /* identical to box height, or 124% */

    color: #000000;
}

/* shadow */
.shadow{
    position: absolute;
    width: 147.47px;
    height: 132.13px;
    left: 50.17px;
    top: 210.77px;

    background: #1B1B1B;
    opacity: 0.5;
    filter: blur(23.9434px);
    border-radius: 17.7358px;
}


/* Start btn */
.startBtn{
    position: absolute;
    width: 337px;
    height: 50px;
    left: 28px;
    top: 776px;

    background: linear-gradient(180deg, #33394D 0%, #484B65 100%);
    border-radius: 10px;
}

/* Star */
.starBtn{
    position: absolute;
    width: 19.51px;
    height: 17.74px;
    left: 158.36px;
    top: 179.74px;
}

.unStarBtn{
    position: absolute;
    width: 19.51px;
    height: 17.74px;
    left: 158.36px;
    top: 179.74px;
}


/* Title */
.title{
    position: absolute;
    width: 95.77px;
    height: 19px;
    left: 150px;
    top: 28px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 15.0755px;
    line-height: 19px;
    /* identical to box height, or 124% */
    text-align: center;

    color: #000000;
}


/* Start btn text */
.startBtnText{
    position: absolute;
    width: 95.77px;
    height: 19px;
    left: 150px;
    top: 792px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 15.0755px;
    line-height: 19px;
    /* identical to box height, or 124% */
    text-align: center;

    color: #FFFFFF;
}


/* Control icon (뒤로가기, 홈 버튼, 추가 버튼) */
.controlBtnIcon{
    position: absolute;
    width: 23px;
    height: 23px;
    left: 28px;
    top: 26px;
}

/* Control box */
.controlBtnBox{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 336px;
    top: 706px;

    background: rgba(28, 29, 34, 0.08);
}

/* menuOn */

.menuOn{
    position: absolute;
    width: 95.77px;
    height: 19px;
    left: 28px;
    top: 115px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 15.0755px;
    line-height: 19px;
    /* identical to box height, or 124% */
    text-align: center;

    color: #000000;
}


/* menuOff */
.menuOff{
    position: absolute;
    width: 95.77px;
    height: 19px;
    left: 148px;
    top: 115px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 15.0755px;
    line-height: 19px;
    /* identical to box height, or 124% */
    text-align: center;

    color: #7D7D7D;
}


